#
# backupsh.conf - Arquivo de configuração do script de backupsh.sh
#

# Formato da data para complementar o nome dos arquivos salvos. Formato: YYYYmmdd-HHM
DATESTAMP=$(date +"%Y%m%d-%H%M")
# Descrição do host. Campo não obrigatório, somente para facilitar a identificação
# Exemplo: HOST_DESC="Servidor Proxy Squid"
HOST_DESC=""


# --> Configurações para hospedagem local
# -----------------------------------------------------------------------
# Diretório para armazenamento do backup local
LOCAL_PATH="/var/backups/backupsh"
# Nome do arquivo a ser gerado após compactado
COMPACT_FILE="${DATESTAMP}-$(hostname)-App"
# Diretórios/arquivos a serem realizados o backup. Exemplo: /etc /opt /var/log/messages
BKP_DIR="/opt /etc"
# Ignorar diretório para não ser realizado backup. Exemplo:
# '--exclude=/media/dir1 --exclude=/opt/dir1/dir2 --exclude=/etc/file.conf'
BKP_IGN=""
# Quantidade de backups retidos. Valor da quantiade de arquivos retidos
# localmente. Será gerado um arquivo por dia, se a data de criação do
# arquivo for maior que o valor da renteção, o mesmo será excluído
# definitivamente (dia 24h).
# Exemplo:
# 	Valor 1, os arquivos anterior a 24 horas serão removidos.
# 	Valor 2, os arquivos anterior a 48 horas serão removidos.
RETENTION_LOCAL=1


# --> Configurações para hospedagem remota com Windows
# -----------------------------------------------------------------------
# Realiza cópia do backup para o servidor remoto? [ Yes | No ]
WIN_BKP_REMOTE="No"
# Conta de usuário do Active Directory com permissão para montar o diretório.
WIN_USER="backup.passive"
WIN_PASS=""
# IP do servidor passivo a receber os arquivos de backup gerado pelo script.
WIN_SERVER="10.224.8.237"
# Diretório de destino dos arquivos. Nome do mapeamento no servidor windows.
# Exemplo: Se no servidor windows o nome do compartilhamento for "linux", então
# o nome do diretório será "linux".
WIN_DST_MOUNT="Linux"
# Diretório onde o mapeamento será montado.
WIN_SRC_MOUNT="/mnt/backupsh"
# Quantidade de backups retidos. Valor da quantiade de arquivos retidos
# no servidor de hospedagem. Será gerado um arquivo por dia, se a data de
# criação do arquivo for maior que o valor da renteção, o mesmo será
# excluído definitivamente (dia 24h).
# Exemplo:
#       Valor 1, os arquivos anterior a 24 horas serão removidos.
#       Valor 2, os arquivos anterior a 48 horas serão removidos.
WIN_RETENTION_REMOTE=3


# --> Configurações para backup do banco de dados
# -----------------------------------------------------------------------
# Realizar backup da base de dados? [ Yes | No | All ]
# A opção All irá realizar backup de todas as bases abaixo, independênte da escolha do tipo da base de dados.
BKP_DATABASE="No"
# Tipo da dase de dados? [ MySQL | PostgreSQL ]
DATABASE_TYPE="MySQL"
# Usar autenticação?
DATABASE_AUTH="Yes"
# Conta de usuário
DATABASE_USER="backupuser"
# Senha do usuário
DATABASE_PASS=""
# Realizar vacuumdb nas bases de dados PostgreSQL antes de realizar o dump? [ Yes | No ] 
DATABASE_PGSQL_VACUUM="Yes"
#
# Exemplo sentença SQL para criar conta de usuário para backup no MySQL:
# CREATE USER 'backupuser'@'localhost' IDENTIFIED BY  'xxx';
# GRANT SELECT, RELOAD, FILE, SUPER, LOCK TABLES, SHOW VIEW ON * . * TO  'backupuser'@'localhost' IDENTIFIED BY  'xxx' WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0 ;
#
# Exemplo sentença SQL para criar conta de usuário para backup no PostgreSQL:
# create user backupuser with encrypted password 'xxx' SUPERUSER;
# No arquivo "pg_hba.conf", pode ser configurado da seguinte forma:
#   local   all   postgres     peer
#   local   all   backupuser   trust


# --> Configurações para notificação por email
# -----------------------------------------------------------------------
# Realiza envio de emails? [ Yes | No ]
SEND_MAIL="Yes"
# Servidor de email
SMTP_HOST="10.224.4.40"
# Porta de comunicação
SMTP_PORT="25"
# Assunto
SMTP_SUBJECT="$(basename $0) Notification"
# Remetente (nome completo)
SMTP_SENDER_NAME="$(basename $0)"
# Remetente (email)
SMTP_SENDER="backupsh@enap.gov.br"
# Destinatário (email). Para mais de um destinatário, basta acrescentar outros emails separados por espaço.
# Exemplo: destinatario1@meudominio.com destinatario2@meudominio.com...
SMTP_RECEIVER="bacula@enap.gov.br"


# --> Log's
# -----------------------------------------------------------------------
# Local onde serão armazenados os log's (DIRETÓRIO). Sem a barra (/) no final.
LOG_PATH="/var/log"
# Nome do arquivo de log.
LOG_FILE="${LOG_PATH}/backupsh.log"
LOG_FILE_ERROR="${LOG_PATH}/backupsh.error.log"


# --> Chave de ativação dos recursos do sistema.
# -----------------------------------------------------------------------
# 1 -> Liga
# 0 -> Desliga
#
# Gravar os logs em arquivo?
GravaLog=1
# Modo verboso. Apresentando as mensagens na saída padrão (STDOUT)?
Verbose=1
# Sleep: Terá um tempo entre as execuções do programa?
Sleep=0


# --> Script externo
# -----------------------------------------------------------------------
# Caso haja necessidade de adicionar comandos extras para complementar o
# backup local, basta criar o arquivo "backupsh.add" (exatamente com este
# nome) no mesmo diretório dos demais script's e adicionar diretamente os
# comandos bash's no mesmo.
